
.previewImg:hover{
    opacity: 0.8;
}

.userProfilePic{
    width:40px;
    border-radius: 50%;
    margin-right: 5px;

}

.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#searchIcon{
    width: 35px; 
}

